<h1>edit.html.erb</h1>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.input :completed %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>

